body {
    background-color: rgb(35, 35, 35);
    overflow: hidden;
}
.TitleText h1{
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    padding: 1px;
    margin: 1px;
}
.TitleText h2 {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    padding: 1px;
    margin: 1px;
}
.Box {
	overflow: hidden;
	width: 10%;
	height: 20%;
	background: rgb(29, 29, 29);
    border-radius: 15px;
    min-width: 350px;
    min-height: 30px;
    margin-top: 30px;
}
.Highlight {
    font-family: Helvetica;
    color: white;
    background-color: rgb(12, 79, 180 , .3);
}
.DefaultText {
    font-family: Helvetica;
    color: white;
}
.Socials {
    margin: 10px;
}